apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: todo-app
type: Opaque
stringData:
  MONGO_URI: "mongodb+srv://kowsic_db:kowsic2203@cluster0.z4mhijt.mongodb.net/TODO_APP?retryWrites=true&w=majority&appName=Cluster0"
